:root {
    --color-primary: #2D5BE3;
    --color-primary-light: #3E6CF0;
    --color-secondary: #00BFA6;
    --color-secondary-light: #33D4B2;
    --color-bg: #F3F5F9;
    --color-white: #FFFFFF;
    --color-text: #1E1E1E;
    --color-muted: #6B7280;
    --red: #d9534f;
    --red-hover: #b13531;

    --shadow-light: 0 4px 14px rgba(0, 0, 0, 0.08);
    --shadow-heavy: 0 10px 35px rgba(0, 0, 0, 0.12);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1.2rem 5%;
  background: var(--color-white);
  box-shadow: var(--shadow-light);
  flex-wrap: wrap;
}

.logo {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  font-weight: 500;
  transition: color 0.2s, transform 0.2s;
}

nav a:hover {
  color: var(--color-primary);
  transform: scale(1.05);
}

.menu-toggle{
  display: none;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
    gap: 0.8rem;
  }

  nav a {
    margin-left: 0;
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .menu-toggle {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

nav a:hover,
nav a.active {
    color: var(--color-primary);
}

/* FOOTER */
footer {
  background: var(--color-white); 
  text-align: center; 
  padding: 2rem; 
  font-size: 0.9rem; 
  color: var(--color-muted);
}


.error {
    color: rgb(161, 25, 25) !important;
    font-size: 13px;
}