/* LIGHT MODE */
:root {
    --white: #FFFFFF;

    --color-primary: #2D5BE3;
    --color-primary-light: #3E6CF0;
    --color-secondary: #00BFA6;
    --color-secondary-light: #33D4B2;
  

    --color-bg: #F3F5F9;
    --color-white: #FFFFFF;
    --color-text: #1E1E1E;
    --color-muted: #6B7280;

    --red: #d9534f;
    --red-hover: #b13531;

    --shadow-light: 0 4px 14px rgba(0, 0, 0, 0.08);
    --shadow-heavy: 0 10px 35px rgba(0, 0, 0, 0.12);

    --color-no-meetings-bg: #f0f4ff;
    --color-no-meetings-text: #4f6fa4;
    --meeting-header-card-txt: #2c3e70;

    --meetings-page-bg: #f7f9fc;

    --gradient-bg: linear-gradient(135deg, var(--color-primary), var(--color-secondary));

    --input-border: 1px solid #E5E7EB;
    --input-color-txt: var(--color-text);
    --controls-bg: var(--color-white);

    --waiting-header-txt: #2c3e70;
    --waiting-subtitle: #6c6c6c;

    --header-txt-call: #5480ab;
    --header-txt-bgr-call: #e9f1fde9;
    --msg-local-user: #dff3e3;

    --msgs-bgr: #F3F5F9;

    --toggle-ball: var(--color-bg)
}

/* DARK MODE */
:root.dark-mode {
    --white: #FFFFFF;

    --color-primary: #bfcdf2;          
    --color-primary-light: #8ea0d2;
    --color-secondary: #0b3930;       
    --color-secondary-light: #9fc6bd;

    --color-bg: #121212;             
    --color-white: #202020;            
    --color-text: #E0E0E0;            
    --color-muted: #A0A0A0;            

    --red: #f06e66;                  
    --red-hover: #c8413c;

    --shadow-light: 0 4px 14px rgba(0, 0, 0, 0.6); 
    --shadow-heavy: 0 10px 35px rgba(0, 0, 0, 0.8);

    --color-no-meetings-bg: #c7d4dbc1;  
    --color-no-meetings-text: #3c3c3c; 
    --meeting-header-card-txt: #e0e0e0;

    --meetings-page-bg: #2f2f2f;

    --gradient-bg: linear-gradient(135deg, var(--color-primary), var(--color-secondary));

    --input-border: none;
    --input-color-txt: #FFFFFF; 
    --controls-bg: #ffffffba;

    --waiting-header-txt: #e6e6e6;
    --waiting-subtitle: #a8afb4;

    --header-txt-call: #9bb0c5;
    --header-txt-bgr-call: #0f0f0fe9;
    --msg-local-user: #535769;

    --msgs-bgr: #2d2f2d;

    --toggle-ball: #2a2a2a;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", sans-serif;

  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1.2rem 5%;
  background: var(--color-white);
  box-shadow: var(--shadow-light);
  flex-wrap: wrap;
  z-index: 10000000;
}

.logo {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  font-weight: 500;
  transition: color 0.2s, transform 0.2s;
}

nav a:hover {
  color: var(--color-primary);
  transform: scale(1.05);
}

.nav a.active{
  color: var(--color-primary);
}

.menu-toggle{
  display: none;
}


/* Mobile header */
@media screen and (max-width: 768px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
    gap: 0.8rem;
  }

  nav a {
    margin-left: 0;
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .menu-toggle {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }
}


/* FOOTER */
footer {
  background: var(--color-white); 
  text-align: center; 
  padding: 2rem; 
  font-size: 0.9rem; 
  color: var(--color-muted);
}


/* ERRORS */
.error {
    color: #a11919 !important;
    font-size: 13px;
}

/* ADMIN */
.admin-entry {
    position: relative;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 18px;
}

.admin-entry::after {
    content: "🔒";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity 0.15s ease, transform 0.2s ease;
}

.admin-entry:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

/* LOGOUT MSSG */
.logout-message {
  background-color: var(--color-bg);       
  color: var(--color-text);               
  border: 1px solid var(--color-primary);    
  padding: 14px 22px;              
  margin: 20px auto;                
  max-width: 480px;                 
  text-align: center;
  border-radius: 12px;             
  font-weight: 600;             
  box-shadow: 0 4px 12px #00000014;  
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(0);     
}
